<h1>Blogs</h1>
<article id="divbox">
<p class="intro">This is a journal of my work processes in Web Design, Web Development, Illustration and Art &amp; Design. It chronicles work I am developing at the moment
	in both these areas of practice.

</p>


<% @blogs.each do |blog| %>
  	 <div><br /> 
  	<h1><%= link_to blog.title.titleize, blog %></h1>
  	<div class="bloghead">
  			<span>by <%= blog.author %>
    		<br />
    		on <%= blog.date.strftime('%d/%m/%Y %H:%M') %></span>
   	<article>
	   <p> <%= image_tag(blog.image_url, :alt => blog.image_url)%>
	     
	    <%= raw(truncate(h(blog.content), :length =>200, :separator => ' ', :omission =>link_to("...Read More", blog))) %></p>
    </article>
 </div>
 </div>
<br />  
<% end %>
<div class="apple_pagination">
<%= will_paginate @blogs %>
</div>
</article>

<aside id="gallside">some content here
   	
 <!--if admin-->
	<%= link_to 'New Post', new_blog_path, :title =>'create new post' %>new post
<!--else nothing-->
</aside>