<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<p id="notice"><%= notice %></p>

<h1>
  <%= @blog.title.titleize %>
</h1>
<div class="bloghead">
<span>
  <%= @blog.author %>
<br />
  <%= @blog.date.strftime('%d/%m/%Y %H:%M') %>
<br />
  <%= link_to 'delete post', @blog, method: :delete, data: { confirm: 'Are you sure?' }, :title => 'delete post' %>
</span>

<article>
	<p><%= image_tag(@blog.image_url, :alt => @blog.image_url, :title =>@blog.image_url) %><%= simple_format @blog.content %></p>
  
</article>
	
</div>
<%if @blog.comments.length > 0 %>
	<%= render @blog.comments %>
<%else%>
	<p>There are currently no comments for this post</p>
<%end%>

<p><%= render 'comments/form' %></p>

