<%= @blog.comments.each do |comment| %>
	
	<div class="commments">
		<p><strong>Comment From:<%= comment.author %></strong><br />
		<span>on <%= comment.created_at %></p>

		<section><%= comment.content %></section>
		<section>  <%= link_to 'delete comment', [@blog, comment], method: :delete, data: { confirm: 'Are you sure?' }, :title => 'delete comment' %>
		</section>
		</div>
<% end %>
