<p id="notice"><%= notice %></p>
<!--this shows individual gallery contents-->
<div class="main">
	<h1><%= @gallery.caption %></h1>
	<div class="gallery_holder">
		<!-- put loop here for gallery contents-->
		<!-- for each gallery load the images related to that gallery in thumbanil form wrapped in a lightbox rel -->
		<!-- Each image should have a caption -->
		<% @gallery.illustrations.each do |illustration| %>
		
		<div>
			<a href="" rel="lightbox[galleryname]">
				<img src="<%= illustration.image %>" width="150px" alt="thumbnail" />
			</a>
			
			<span><%= illustration.caption%></span>
		</div>
		
		<% end %>
	</div>
	
	<div class="sbar">
		<p>For Admin this is an image uploader</p>
		</div>
	<aside class="detailbox clearfix">
		<h3><%= @title %></h3>
		<p><%= @gallery.description %></p>
		<br />
		<br />
		<br />
		<!--admin only-->
		<!--Image uploader-->
			<div class="gal_admin clearfix">
				
				
    			<%= link_to 'Back', galleries_path %>
				<%= link_to 'Edit', edit_gallery_path(@gallery) %> 
				<%= link_to 'Destroy', @gallery, method: :delete, data: { confirm: 'Are you sure?' } %>
			</div>
	</aside><!--image uploader for admin should go here-->
</div>


