<!DOCTYPE html>
<html>
	<head>
		<title>Keithmiketom Website</title>
		<%= stylesheet_link_tag    "normalize", :media => "all" %>
	  	<%= stylesheet_link_tag    "grid", :media => "all" %>
	  	<%= stylesheet_link_tag    "style", :media => "all" %>
	  	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600' rel='stylesheet' />

	</head>
	<body id="parallax">
			<div class="menu">
		<div class="container clearfix">

			<div id="logo" class="grid_3">
				<%=image_tag "homlogo.png"%>
			</div>
			<div id="nav" class="grid_9 omega">
				<ul class="navigation">
					<li data-slide="1">About</li>
					<li data-slide="2">Artwork</li>
					<li data-slide="3">Designer</li>
					<li data-slide="4">Developer</li>
					<li data-slide="4">Contact Me</li>
				</ul>
			</div>

		</div>
	</div>


	<div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5">
		<div class="container clearfix">

			<div id="content" class="grid_7">

		<h1>Welcome to the city</h1> 
<div class="building about"> 
<h2><a href="about" title="about Keith">A Bit about me</a></h2>
<p>Hi I'm Keith! I am an Artist, Designer, Illustrator, Educator, Web Developer and lover of Cats. I am from Dublin in Ireland. I Graduated from NCAD in 2006 with a BA in Art &amp; Design Education, with a
specialism in Graphic Design, though I always took a "Fine Art" methodology to my work</p>
<p>In 2012 I returned to study Web Technologies in NCI part-time, building on my graphic design skills</p>
</div>
</div>
			<div id="decorative" class="grid_5 omega">
				<%=image_tag "raybee.gif", :class => "drag" %>
				<%=image_tag "nav/city_over.gif"%>
			</div>

		</div>
	</div>



<div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
		<div class="container clearfix">


<div class="art"> 
<h2><a href="../galleries">About the Art</a></h2>
<p>My work is a little bit quirky, and a lot of fun! I use an Illustrative style in all my approaches, and aim to
make anything I produce playful and fun to approach.</p>
<p>I base some of my personal work on the
world around me, whether it is interactions with others, past
experiences, or the city I live in. I also paint cats and bees that shoot lasers from their eyes</p>
<!-- link to dart page-->
</div>
</div>
</div>

	<div class="slide" id="slide3" data-slide="3" data-stellar-background-ratio="0.2">
		<div class="container clearfix">
			<div id="content" class="grid_12">
				<div>
	
					  <div id="gallery" class="content">
			<h1>Artwork</h1>
			<div class="rm_wrapper">
				<div id="rm_container" class="rm_container">
					<ul>
						<li data-images="rm_container_1" data-rotation="-15"><%= image_tag "degreeshow/odetoceram.gif", alt:"image1" %></li>
						<li data-images="rm_container_2" data-rotation="-5"><%= image_tag "catswithraybees/goldneko.jpg", alt:"image2" %></li>
						<li data-images="rm_container_3" data-rotation="5"><%= image_tag "degreeshow/odetoceram.gif", alt:"image1" %></li>
						<li data-images="rm_container_4" data-rotation="15"><%= image_tag "degreeshow/odetoceram.gif", alt:"image1" %></li>
					</ul>
					<div id="rm_mask_left" class="rm_mask_left"></div>
					<div id="rm_mask_right" class="rm_mask_right"></div>
					<div id="rm_corner_left" class="rm_corner_left"></div>
					<div id="rm_corner_right" class="rm_corner_right"></div>
					<h2>Artwork</h2>
					<div style="display:none;">
						<div id="rm_container_1">
							<%= image_tag "degreeshow/odetodorris.gif", alt:"image2" %>
							<%= image_tag "degreeshow/odetoindiff.gif", alt:"image3" %>
							<%= image_tag "degreeshow/odetonost.gif", alt:"image4" %>
							<%= image_tag "degreeshow/odetosweetest.gif", alt:"image4" %>
							<%= image_tag "degreeshow/odetoceram.gif", alt:"image1" %>
						</div>
						<div id="rm_container_2">
							<%= image_tag "catswithraybees/Boobee.jpg", alt:"image2" %>
							<%= image_tag "catswithraybees/spacebbees.jpg", alt:"image3" %>
							<%= image_tag "catswithraybees/tim-curry.jpg", alt:"image4" %>
							<%= image_tag "catswithraybees/sr-wendy.jpg", alt:"image4" %>
							<%= image_tag "catswithraybees/goldneko.jpg", alt:"image1" %>
						</div>
						<div id="rm_container_3">
							<%= image_tag "catswithraybees/Boobee.jpg", alt:"image2" %>
							<%= image_tag "catswithraybees/spacebbees.jpg", alt:"image3" %>
							<%= image_tag "catswithraybees/tim-curry.jpg", alt:"image4" %>
							<%= image_tag "catswithraybees/sr-wendy.jpg", alt:"image4" %>
							<%= image_tag "catswithraybees/goldneko.jpg", alt:"image1" %>
						</div>
						<div id="rm_container_4">
							<%= image_tag "catswithraybees/Boobee.jpg", alt:"image2" %>
							<%= image_tag "catswithraybees/spacebbees.jpg", alt:"image3" %>
							<%= image_tag "catswithraybees/tim-curry.jpg", alt:"image4" %>
							<%= image_tag "catswithraybees/sr-wendy.jpg", alt:"image4" %>
							<%= image_tag "catswithraybees/goldneko.jpg", alt:"image1" %>
						</div>
					</div>
				</div>
				<div class="rm_nav">
					<a id="rm_next" href="#" class="rm_next"></a>
					<a id="rm_prev" href="#" class="rm_prev"></a>
				</div>
				<div class="rm_controls">
					<a id="rm_play" href="#" class="rm_play">Play</a>
					<a id="rm_pause" href="#" class="rm_pause">Pause</a>
				</div>
			</div>
		</div>
		<div class="brokenbuilding design">
	
		</div>
		
				
			</div>
			<div class="brokenbuilding design">
	<!-- link to design site--><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
			</div>
			<div class="brokenbuilding blog">
	<!-- link to blog-->
			</div>
		</div>
	</div>
<div class="slide" id="slide4" data-slide="4" data-stellar-background-ratio="0.5">
		<div class="container clearfix">
			
			<div id="content" class="grid_12">

<div class="forgrnd"> 
<h2>Developer</h2>
<p>Maybe you saw the site, maybe you like my work, maybe you want to get in touch and have 
me design make or develop something for you? maybe you just want cake? either way, fill in 
the form and I'll get in touch</p>


</div><!--close fgd-->
<div id="bckgrnd">
	<div id="mdlgrnd">
	

<div id="forgrnd"></div></div>
</div>

</div><!--closeCntnt-->
	</div><!--close cnt clfx-->
</div><!--close B C-->
<div class="slide" id="slide5" data-slide="5" data-stellar-background-ratio="0.9">
		<div class="container clearfix">

			<div id="content" class="grid_12">

<div class="building contact"> 
<h2>Contact Keith</h2>
<p>Maybe you saw the site, maybe you like my work, maybe you want to get in touch and have 
me design make or develop something for you? maybe you just want cake? either way, fill in 
the form and I'll get in touch</p>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


</div><!--close B C-->
</div><!--closeCntnt-->
	</div><!--close cnt clfx-->
</div><!--close B C-->



<%= javascript_include_tag "jquery.easing.1.3" %>
<%= javascript_include_tag "waypoints.min" %>
<%= javascript_include_tag "jquery.stellar.min" %>
<%= javascript_include_tag "scripts" %>
<%= javascript_include_tag "js" %>
<%= javascript_include_tag "jquery-ui-1.10.2.custom.min" %>
<%= javascript_include_tag "jquery.transform-0.9.3.min_.js" %>
<%= javascript_include_tag "jquery.RotateImageMenu.js" %>
<script>
	
		$(".drag").draggable();
</script>
			</body>
</html>