 <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css" />
<%= javascript_include_tag "galleries.js" %>

<h1>Artwork</h1>
<article id="divbox">
<% @galleries.each do |gallery| %>
<div class="gal_thumb">
	<%= link_to image_tag(gallery.image_url, :alt => gallery.caption, :id => gallery.caption.gsub(/\s+/, "").downcase), gallery, :title =>gallery.caption %><!--thumbnail-->
	

<div class="details">
		<strong><%= gallery.caption %></strong><br />
		<em><%= gallery.date_added.strftime('%d/%m/%Y') %></em>
	</div><!--end of details-->
</div><!--end of gal_thumb-->
<% end %>
<!--if admin-->
</article>
<aside id="gallside"><!--stylise accordian jQuery-->
	<% @galleries.each do |gallery| %>
	
		<h3><%= gallery.caption %></h3>
		<div>
			<p>
				<%= gallery.description %>
			</p>
		</div>
	
	<% end %>

</aside><!--end of add_gal-->
<section class="admin_panel">
<%= link_to 'New Gallery', new_gallery_path %>
</section>
<%= javascript_include_tag "jquery-ui-1.10.2.custom.min" %>
<script>
	$('#gallside').accordion();
</script>
