<h1>Artwork</h1>
<article id="divbox">
<% @galleries.each do |gallery| %>
<div class="gal_thumb">
	<%= link_to image_tag(gallery.image_url, :alt => gallery.caption, :id => gallery.caption.gsub(/\s+/, "").downcase), gallery, :title =>gallery.caption %><!--thumbnail-->
	

<div class="details">
		<strong><%= gallery.caption %></strong><br />
		<em><%= gallery.date_added.strftime('%d/%m/%Y') %></em>
	</div><!--end of details-->
</div><!--end of gal_thumb-->
<% end %>
<!--if admin-->
</article>
<aside id="gallside"><!--stylise accordian jQuery-->
	<% @galleries.each do |gallery| %>
		<h3><%= gallery.caption %></h3>
		<p><%= gallery.description %></p>
	<% end %>
<%= link_to 'New Gallery', new_gallery_path %>
</aside><!--end of add_gal-->

