<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @title.gsub(/\s+/, "").downcase %>">

<%= render 'layouts/header'%>
	<div class="main-container">
		<div class="main wrapper clearfix">
			 <p class="notice"><%= notice %></p>
       		 <p class="alert"><%= alert %></p>
			<%= yield %>

		</div>
	</div><!--main cnotain-->
	 <div class="push"></div>
<%= render 'layouts/footer' %>
</body>
</html>
